<?xml version="1.0"?>
<HWSettings xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <DefaultPageText1>Hai Everyone,</DefaultPageText1>
  <DefaultPageText2>KTS INFOTECH,ALUVA</DefaultPageText2>
  <DefaultPageText3>@Copyright 2022</DefaultPageText3>
</HWSettings>